.editor {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.leftPane {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-style: solid;
  border-color: #d4d4d5;
  border-width: 1px 0;
}

.middlePane {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-style: solid;
  border-color: #d4d4d5;
  border-width: 1px 0 1px 0;
}

.rightPane {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-style: solid;
  border-color: #d4d4d5;
  border-width: 1px 0;
}

.mainPane {

}

.bottomPane {

}

.paneTitle {
  padding: 1px 5px;
  height: 25px;
  line-height: 20px;
  font-size: 14px;
  font-weight: bold;
  background-color: #272822;
  color: #ccc;
}

.paneButton {
  margin: 1px 2px;
  float: right;
  line-height: 18px;
  width: 20px;
  height: 20px;
  text-align: center;
  cursor: pointer;
}

.paneButton:hover {
  border: 1px solid #ccc;
}

.gallery {
  background-color: red;
}

.galleryPanel {
  padding: 5px;
  height: 100%;
  overflow: auto;
}

.galleryItem {
  cursor: default;
  line-height: 24px;
  vertical-align: middle;
  width: 100%;
}

.galleryItem:hover {
  font-style: bolder;
  background-color: #c5e0fe;
}

.galleryIcon{
  position: relative;
  top: 3px;
}

.workspace {
  background-color: white;
  border-left: 1px solid #d4d4d5;
  overflow: hidden;
}

.scriptView {
  background-color: yellow;
}

.attributeEditor {
  padding: 7px;
  background-color: #293742;
  overflow-y: auto;
}

.columnViewMain {
  margin-bottom: 0;
  background-color: white;
  overflow: auto
}

.columnViewItem {
  overflow: hidden;
}

