# Build and Release Folders
dist/
build/

# Other files and folders
.settings/
node_modules/

# Executables
*.swf
*.air
*.ipa
*.apk

# 
package-lock.json
*.log

doc/scriptSample.xml
doc/*.xl*

doc/*.json

*.code-workspace
