# Build and Release Folders
dist/

# Other files and folders
.settings/
node_modules/

# Executables
*.swf
*.air
*.ipa
*.apk

# 
package-lock.json
package.json
*.log

yarn.lock

doc/scriptSample.xml
doc/*.xl*
