textarea {
  resize: none;
}

.jrMain {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.jrHeader {
  width: 100%;
  background-color: black;
  color: white;
  padding: 0 10px;
}

.jrTitle {
  display: inline-block;
  vertical-align: middle;
  font-size: 30px;
  font-weight: 500;
  line-height: 55px;
  margin: 0 10px;
}

.jrButton {
  float: right;
  font-size: 24px;
  line-height: 55px;
  padding: 0 10px;
  cursor: pointer;
}

.jrButton:hover {
  color: darkgrey;
}

.jrContent {
  width: 100%;
  flex: 1;
  padding: 7px;

  background-color: #30404d;
}

.jrSubPanel {
  margin: auto;
  padding: 7px;
}

.jrJsonArea {
  width: 100%;
  height: 100%;
}

.jrReportPane {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.jrLeftPane {
  background-color: rgb(41, 55, 66);
  overflow-x: hidden;
}

.jrRightPane {
  flex: 1;
}

.treeMain {
  width: 100%;
  flex: 1;
  background-color: rgb(41, 55, 66);
  color: #f5f8fa;
}

.treeNodeItem {
  height: 30px;
  line-height: 30px;
  color: #f5f8fa;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  cursor: pointer;
  vertical-align: middle;
}

.inlineDiv {
  display: inline-block;
}

.treeNodeItem:hover {
  background-color: rgba(125,188,255,.6);
}

.treeNodeSelected {
  background-color: #137cbd;
}

.treeNodeHeader {
  display: inline-block;
  height: 30px;
  width: 30px;
}

.treeNodeContent {
  display: inline-block;
  width: 100%;
}

.treeDataIcon {
  margin-right: 7px;
  display: inline-block;
}

.treeIconRotate {
  transform: rotate(180deg);
}
