.wrapGrid {
	display: flex;
	flex-direction: row;
}

.wrapRow {
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.wrapColumn {
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.headCorner {
  background-color: red;
}

.columns {
  background-color: blue;
  overflow: hidden;
}

.rowHeader {
	background-color: green;
}

.dataArea {
	background-color: gray;
}