.wrapGrid {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  color: black;
}  

.wrapContainer {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  border: 1px solid darkgray;
}  

.wrapRow {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.wrapColumn {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.wrapScroll {
	display: flex;
  flex-direction: column;
}

.headCorner {
  border-top: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #a0a0a0;
  border-bottom: 1px solid #a0a0a0;
  background-color: #e0e0e0;
  padding: 4px;
  text-overflow: ellipsis;
  text-align: center;
  overflow: hidden;
}

.columns {
  background-color: #e0e0e0;
  overflow: hidden;
}

.rowHeader {
  background-color: #e0e0e0;
  overflow: hidden;
}


/* ColumnHader.js */
.column {
  border-top: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #a0a0a0;
  border-bottom: 1px solid #a0a0a0;
  background-color: #e0e0e0;
  padding: 4px;
  text-overflow: ellipsis;
  position: absolute;
  overflow: hidden;
  text-align: center;
}

.columnsDiv {
  overflow: hidden;
  position: relative;
  width: 100%;
}


/* RowHeader.js */
.rowCell {
  border-top: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #a0a0a0;
  border-bottom: 1px solid #a0a0a0;
  background-color: #e0e0e0;
  padding: 4px;
  text-align: center;
  overflow: hidden;
  width: 100%;  
}

.rowCells {
  position: relative;
  width: 100%;
  height: 100%;
}

.scrollContainer {
	overflow-y: auto;
	z-index: 9;
}

.dataLoading {
	position: absolute;
	z-index: 99;
	text-align: center;
}

.loadingText {
  position: relative;
  font-weight: bolder;
  font-size: 30px;
  background-color: white;
  top: 45%;
  height: 40px;
  line-height: 40px;
}

/* Data Container.js */
.dataContainer {
  overflow-x: auto;
  overflow-y: hidden;
}

.dataCells {
  position: relative;
  width: 100%;
  height: 100%;
}

.dataCell {
  border-top: 1px solid #ffffff;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #a0a0a0;
  border-bottom: 1px solid #a0a0a0;
  background-color: #ffffff;
  padding: 4px;
  position: absolute;
  top: 0px;
  overflow: hidden;
  height: 100%;
  text-overflow: ellipsis;
}

.selectedCell {
  color: #ffffff !important;
  background-color: #3399ff !important;
}

.alignRight {
	text-align: right;
}

.selectedHeader {
  color: #ffffff !important;
  background-color: darkgray !important;
}

.resizeCursor {
  cursor: col-resize;
}
