.multiSelector {
  
}

.msTags {
  align-items: flex-start;
  height: auto;
  min-height: 30px;
  padding: 4px 4px 6px 4px;
  line-height: inherit;
  border-radius: 4px;
  max-height: 150px;
  overflow-y: auto;
  overflow-x: hidden;
}

.msDisabled {
  cursor: not-allowed;
  background-color: rgba(57, 75, 89, 0.5);
}

.msEnabled {
  background-color: #222d36;
  cursor: pointer;
}

.msTagDiv {
  display: inline-flex;
  flex: 0 0 auto;
}

.msTag {
  background-color: #bfccd6;
  color: black;
  display: inline-flex;
  margin-top: 2px;
  padding: 1px 5px;
  border-radius: 4px;
  font-size: 12px;
}

.msGap {
  display: inline-block;
  flex-basis: 6px;
}

.msTagTitle {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}

.msTagButton {

}

.msInput {
  margin: 1px 5px 0 0;  
  border-radius: 4px;
  font-size: 12px;
  flex: 1 1 auto;
  line-height: 20px;
}

.msOptionWrap {
  margin-top: 2px;
  background-color: #30404d;
}

.msOptions {
  padding: 0 0 4px 5px;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 12rem;
  background-color: #30404d;
  color: #fff;
}

.msOption {
  font-size: 12px;
}

.msOption:hover {
  background-color: rgba(125,188,255,.6);
  cursor: pointer;
}